<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Koutye</title>
</head>

<body>
  <app-header></app-header>

  <div class="container d-flex align-items-center justify-content-center">
    <div class="form mt-4 mx-auto">
    
        <form [formGroup]="loginForm" class="center" (ngSubmit)="Login()">

          <mat-card class=".mat-card">
            <fieldset class="field" >
              <legend class="field" style="color: #FF5733;">{{login}}</legend>
              
            <mat-card-header class="mb-3 header-text" > {{info}}</mat-card-header>
            <!-- <p>{{"titleLogin" | translate}}</p> -->
            <mat-card-content>
              <div class="col-12 d-flex justify-content-center" *ngIf="userApiMessage$ | async as message">
                <mat-error>{{message}}</mat-error>
             </div>
              <mat-form-field appearance="outline" class="mt-2">
                 <mat-label>{{username}}</mat-label>
                 <input matInput type="text" placeholder="Nom utilisateur" 
                    formControlName="username"
                    data-toggle="tooltip"
                    data-bs-placement="top"
                    tile="Le nom d'utilisateur doit"
                    
                    />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>{{password}}</mat-label>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password"/>
             </mat-form-field>
            </mat-card-content>
            
            <mat-spinner *ngIf="boolShowSpinner$ |async" color="warn"></mat-spinner>

            <mat-card-actions>
              <button mat-raised-button extended color="warn"  
               [disabled]="!loginForm.valid">
                <i class="bi bi-box-arrow-in-right" style="color: white;"></i>
                {{con}}
              </button>
            </mat-card-actions>
            <p class="header-text">{{with}}</p>
              <div class="socio">
                <i class="btn bi bi-facebook"></i>
                <i class="btn bi bi-google"></i>
                <i class="btn bi bi-twitter"></i>
                <i class="btn bi bi-github"></i>
              </div>
            <div class="otherAction">
              <p style="margin-bottom: -4px"><a href="" routerLink="/user/forgot-password">{{forgot}}</a></p>
              <p><a href="" routerLink="/user/add">{{new}}</a></p>
            </div>
          </fieldset>
          </mat-card>
        </form>
      <!-- </fieldset> -->
    </div>
  </div>

  <app-footer></app-footer> 
</body>

</html>