

.form
{
    //border: 1px solid blueviolet;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

fieldset, legend
{
    all:revert; 
}

.field
{
    all:revert;
    color: #06509F;
}

 mat-form-field {
    width: 100%;
}

.mat-card, .form
{
    width: 30%;
    color: #06509F;
}

.otherAction p a
{
    text-decoration: none;
    padding: 0;
    color: #06509F;
}

#btnLogin
{
    background-color: #FF5733;
    color: white;
    border: none;
    
    
}

mat-spinner{
    margin-left: auto;
    margin-right: auto;
    color:#FF5733;
}