.container{
   font-size: 12px;
}

.form
{
    //border: 1px solid blueviolet;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

fieldset, legend
{
    all:revert; 
    
}

.field
{
    all:revert;
    color: #06509F;
}

 mat-form-field {
    width: 100%;
}

.mat-card, .form
{
    width: 30%;
    color: #06509F;
}

.otherAction p a
{
    text-decoration: none;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FF5733 !important;
}

button{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.otherAction p a:hover{
    color:#00008B;
}

#btnLogin
{
    background-color: #FF5733;
    color: white;
    border: none;
    
}

.header-text{
    font-family: cursive;
}


mat-spinner{
    margin-left: auto;
    margin-right: auto;
    color:#FF5733;
}

.socio{
    display:flex;
    flex-direction: row;
    justify-content: center;
 }
 
 .socio i{
   color: #00008B;
 }

 ::ng-deep mat-form-field {
    margin: 0;
}