/*
#card-register
{
    width: 60%;

}
*/

.line-register
{
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    justify-content: space-between;
}

.line-register mat-form-field
{
    margin-left: 5px;
    margin-right: 5px;
}

#person
{
    font-size: 50px;
}

#back
{
    margin-left: 20px;
}

#back a
{
    text-decoration: none;
    color: #06509F;
    font-weight: bold;
}