<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
    <app-header></app-header>
    
    <div class="container mt-5 d-flex align-items-center justify-content-center">
      <form [formGroup]="registerForm" class="center" (ngSubmit)="addUser()">
        <mat-card id="card-register" >
           
            <mat-card-header class="text-center" style="color: #FF5733;">
              <i class="bi bi-person-circle" ></i> 
              {{newUser}}
            </mat-card-header>
            <mat-card-content class="m-3">
              <div class="col-12 d-flex justify-content-center" *ngIf="userApiMessage$ | async as message">
                <mat-error>{{message}}</mat-error>
             </div>
                <div class="line-register mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{lastname}}</mat-label>
                        <input type="text" formControlName="nom" matInput>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>{{firstname}}</mat-label>
                        <input type="text" formControlName="prenom" matInput>
                      </mat-form-field>
                </div>
                <div class="line-register mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{username}}</mat-label>
                        <input type="text" formControlName="username" matInput>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>{{email}}</mat-label>
                        <input type="email" formControlName="email" matInput
                        placeholder="Ex: ctombeau@gmail.com">
                        <mat-hint>Ex:ctombeau&#64;gmail.com</mat-hint>
                      </mat-form-field>
                </div>

                <div class="line-register mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{password}}</mat-label>
                        <input type="password" formControlName="password" matInput>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>{{cfPassword}}</mat-label>
                        <input type="password" formControlName="confirmPassword" matInput>
                      </mat-form-field>
                </div>

                <div class="line-register mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>{{typeUser}}</mat-label>
                        <mat-select formControlName="type">
                          <mat-option value="Courtier">{{broker}}</mat-option>
                          <mat-option value="Locataire">{{leaseholder}}</mat-option>
                          <mat-option value="Proprietaire">{{householder}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>{{phone}}</mat-label>
                        <input type="text" formControlName="phone" matInput>
                      </mat-form-field>
                </div>
                <div class="spinner-container" *ngIf="isLoading | async">
                  <mat-spinner class="spinner"  color="warn" ></mat-spinner>
                  <img class="spinner-image" src="assets/images/logoKoutye.PNG">
                </div>
                
                <div class="line-register mt-2">
                  <button mat-raised-button extended color="primary" (click)="fCancel()">
                    <mat-icon>cancel</mat-icon>
                    {{cancel}}
                  </button>
                  <button type="submit" mat-raised-button extended color="warn" style="float: right">
                    <mat-icon>save</mat-icon>
                    {{save}}
                  </button>
                </div>
            </mat-card-content>
        </mat-card>
      </form>
    </div>
    <app-footer></app-footer>
</body>
</html>