#navsup{
    background-color: #06509F;
    height: 20%;
    color: white;
}
 .nav-link
 {
    color:white;
 }

#navbanner
{
    //background-color: #B3B6B7;
    background-color: #E5E7E9;
    height: 30px;
}

#langue
{
    background-color: #06509F;
    color: white;
    
}

#logo
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
  
.offcanvas
{
    background-color: #06509F;
}

.dropdown-menu li a
{
   // background-color: #06509F;
    color:#06509F;
}

.dropdown-menu :hover
{
    background-color: #06509F;
    color: white;
}

.dropdown-menu li a:hover 
{
    color: white;
}
#navbanner p{
    float: right;
    margin-right: 10px;
    color: #FF5733;
    font-size: small;
    font-weight: bold;
}

li a, li select, li select option{
    font-size: small;
}
