#navsup{
    background-color: #06509F;
    height: 15%;
}

#navbanner
{
    //background-color: #B3B6B7;
    background-color: #E5E7E9;
    height: 5%;
}

#langue
{
    background-color: #06509F;
    color: white;
    
}

#logo
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
  
  