<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
     <ng-container class="mb-3 mt-3">
      <mat-card appearance="outlined">
       <mat-card-header>
           <mat-card-subtitle>Demande d'Attachement</mat-card-subtitle>
       </mat-card-header>
       <mat-card-content>
          <form [formGroup]="courtierForm" class="center" (ngSubmit)="askToAttachUser()">
              <p *ngIf="showText" class="text-success font-weight-bold " id="animated-text">{{message$ | async}}</p>
               <div class="row g-2 align-items-center">
                  <div class="col-6">
                    <input  class="form-control" matInput type="email" placeholder="Email" formControlName="email"/>
                  </div>
                   <div class="col-3">
                       <button mat-raised-button extended color="warn" class="ms-4">
                      <i class="bi bi-send-fill"></i>
                       ENVOYER
                     </button>
                   </div>
               </div> 
        </form>
       </mat-card-content>
      </mat-card>
     </ng-container>
     
  <div class="mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef> Photo </th>
          <td mat-cell *matCellDef="let element">
             <img [src]="element.photo" alt="Photo" width="50" height="50" class="user-photo"> 
            </td>
        </ng-container>
    
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
      
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef> Prénom </th>
          <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Téléphone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
      </table>

      <mat-paginator [pageSizeOptions]="[2,5,10]" showFirstLastButtons ></mat-paginator>
      <div class="spinner-container" *ngIf="isLoading | async">
          <mat-spinner class="spinner"  color="warn" ></mat-spinner>
          <img class="spinner-image" src="assets/images/logoKoutye.PNG">
      </div>
  </div>   
  
</body>
</html>
