<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
    <app-header></app-header>
    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <form [formGroup]="resetPasswordForm" class="center" (ngSubmit)="resetPassword()">
          <mat-card id="card-register" >
             
              <mat-card-header class="text-center">
                <i class="bi bi-key-fill"></i>
                 NOUVEAU MOT DE PASSE
              </mat-card-header>
              <mat-card-content class="m-3">
                <!-- <i (click)="input.click()"  class="bi bi-person-circle" id="person"></i>
                <input #input  type="file" hidden > -->
                  <div class="line-register mt-2">
                      <mat-form-field>
                          <mat-label>Email</mat-label>
                          <input type="text" formControlName="email" matInput>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Ancien mot de passe</mat-label>
                          <input type="password" formControlName="oldPassword" matInput>
                        </mat-form-field>
                  </div>
                  <div class="line-register mt-2">
                      <mat-form-field>
                          <mat-label>Nouveau mot de passe</mat-label>
                          <input type="password" formControlName="newPassword" matInput>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Retapez mot de passe</mat-label>
                          <input type="email" formControlName="newPassword2" matInput
                          placeholder="Ex: ctombeau@gmail.com">
                          
                        </mat-form-field>
                  </div>
  
                  <button mat-raised-button extended color="warn" style="float: right">
                    <mat-icon>save</mat-icon>
                    Initilaiser Mot De Passe
                  </button>
              </mat-card-content>
          </mat-card>
        </form>
      </div>

    <app-footer></app-footer>
</body>
</html>
