<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
    <app-header></app-header>

    <div class="container">
        <mat-tab-group class="mt-2" #tabRef (selectedTabChange)="changeTab(tabRef.selectedIndex)">
            <mat-tab label="Profil Utilisateur"> 
                <div class="text-center mt-3 mb-3">
                    <h3>Profil Utilisateur</h3>
                </div>
                
            </mat-tab>
            <mat-tab label="Gestion Courtier">
                <div class="text-center mt-3 mb-3">
                    <h3>Gestion Courtier</h3>
                </div>
            </mat-tab>
            <mat-tab label="Chat"> 
                <div class="text-center mt-3 mb-3">
                    <h3>Demandez plus d'Infos</h3>
                </div>    
            </mat-tab>
          </mat-tab-group>

          <div class="content">
            <ng-container  *ngIf="indexDetail">
                <app-user-detail  ></app-user-detail>
                
            </ng-container>
            
            <ng-container *ngIf="indexCourtier">
                <app-courtier ></app-courtier>
                
            </ng-container>

            <ng-container *ngIf="indexMessage">
                <app-chat></app-chat>
            </ng-container>
            
          </div>
    </div>

    <!-- <app-footer ></app-footer> -->
</body>
</html>