<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOUTYE</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="form mt-3 mb-2">
                <mat-form-field appearance="outline" class="mt-2">
                    <mat-label>Commune</mat-label>
                    <input matInput type="text" placeholder="Rechercher par commune" 
                       [formControl]="communeCtrl"
                       data-toggle="tooltip"
                       data-bs-placement="top"
                       (ngModelChange)="modelChanged($event)"
                       />
                 </mat-form-field>
        </div>
        
        <div class="body-row">
            <ng-container *ngIf="listAppartement$ | async as apps">
            
            <div class="content" *ngFor="let app  of apps; let i=index">
             
                <div class="card">
                   <!--<img class="img-app" [src]="app.imageAppartements[currentIndex].image"/>--> 
                 <img class="img-app" [src]="currentElement"/> 
                  
                    <div class="card-body">
                        <p><strong>{{app.prix}} {{app.devise}}</strong></p>
                        <p><i class="bi bi-info-circle-fill"></i> {{app.description}}</p>
                        <p> <i class="bi bi-geo-alt-fill"></i> {{app.adresse.numero}},
                            rue {{app.adresse.rue}}, {{app.adresse.commune}}, {{app.adresse.departement}},
                            {{app.adresse.pays}}
                        </p>
                        <p><i class="bi bi-telephone-outbound-fill"></i> +509 3805-1274</p>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
        
    </div>
</body>
</html>
