<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
    <app-header></app-header>
    
    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <form [formGroup]="forgotPasswordForm" class="center" (ngSubmit)="forgotPassword()">
          <mat-card id="card-forgotpassword" style="width: 600px;">
             
              <mat-card-header class="text-center" style="color: #FF5733;">
                <i class="bi bi-person-circle" ></i> 
                 OUBLI DE MOT DE PASSE
              </mat-card-header>
              <mat-card-content class="m-3">
                <!-- <i (click)="input.click()"  class="bi bi-person-circle" id="person"></i>
                <input #input  type="file" hidden > -->
                  <div class="line-register mt-2 mb-2">
                      <mat-form-field appearance="outline" style="width: 300px;">
                          <mat-label>Email</mat-label>
                          <input type="text" formControlName="email" matInput>
                          <mat-hint>Ex:ctombeau&#64;gmail.com</mat-hint>
                      </mat-form-field>
                  </div>  
                  
                  <div class="line-register mt-2 mb-2">
                    <button mat-raised-button extended color="primary" (click)="cancel()">
                      <mat-icon>cancel</mat-icon>
                      Annuler
                    </button>
                    <button mat-raised-button extended color="warn" style="float: right">
                      <i class="bi bi-send-fill"></i>
                      Envoyer
                    </button>
                  </div>
                  
              </mat-card-content>
          </mat-card>
        </form>
      </div>

    <app-footer></app-footer>
</body>
</html>
