.person{
    
   
}

.messgae{
    background-color: #E8E8E8;
}


.form .input-button #input{
    border-radius: 5px;
    padding-left: 10px;
}

#card-person{
    padding: 10px;
}
.image{
    margin-right: -10px;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.list-people{
    height: 300px;
    overflow: scroll;
}
.message .header{
    height: 50px;
}

.message .body{
    height: 300px;
}

.message .footer{
    height: 50px;
}
.message .footer input{
    height: 50px;
}