 //bouton-detail
 
#detail {
  width: 100px;
  height: 40px;
  border: 3px solid #FF5733;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1em;
  font-weight: 300;
  margin-top: 30px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#detail:hover {
  background: #FF5733;
  color: white;
  font-size: 1em;
}

.card-header{
   width: 600px;
   height: 300px;
}

.card{
   width: 600px;
}

.paginator{
   bottom: 0;
}