<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOUTYE</title>
</head>
<body>
    <app-header></app-header>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <div class="video" *ngIf="videosApp.length; else noVideo">
                    <video width="560" height="280" controls *ngFor="let v of pagedVideos">
                        <source [src]="v"/>
                            Votre navigateur ne supporte pas la lecture de vidéos HTML5.
                    </video>

                </div>
                <ng-template #noVideo>
                    <p>Aucune vidéo disponible.</p>
                </ng-template>

                <div class="paginator">
                    <mat-paginator [length]="videosApp.length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[1]"
                        (page)="onPageChange($event)"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
            <div class="card-body">
                <div class="content" >
                    <p><strong>{{app.prix}} {{app.devise}}</strong></p>
                    <p><i class="bi bi-info-circle-fill"></i> {{app.description}}</p>
                        <p> <i class="bi bi-geo-alt-fill"></i> {{app.adresse.numero}},
                            rue {{app.adresse.rue}}, {{app.adresse.commune}}, {{app.adresse.departement}},
                            {{app.adresse.pays}}
                        </p>
                        <p><i class="bi bi-telephone-outbound-fill"></i> +509 3805-1274</p>
                </div>
                 <button id="detail" (click)="goBack()">R&eacute;tour</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>
