/*
p
{
    margin-top: 0;
    margin-bottom: 0;
    color: #06509F;
}

h4
{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color:#FF5733;
    font-family: Caveat,Roboto, "Helvetica Neue", sans-serif;
}

.footer p em>a
{
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    color: #06509F;
}
*/

.footer
{
    position:relative;
    background-color: #E5E7E9;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5%;
    bottom: 0;
    left: 0; right: 0;
}
#text-footer{
    display: flex;
    font-weight: bold;
    color:#06509F;
    justify-content: center;
    align-items: center;
    height: 50px;
}
/*
#chrisnor
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#info-chrisnor
{
    display: flex;
    flex-direction: row;
}
//--------------------------------------------
.row-footer
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
*/