<div class="footer">
    <div class="container mt-2">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4" id="info-chrisnor">
                <img id="chrisnor" src="assets/images/chrisnor.jpeg"/>
                <div class="coordonee">
                    <h4 style="margin-left: -3px;">Chrisnor TOMBEAU</h4>
                    <p style="margin-left: 2px;"><em>Email: tombeauc@gmail.com</em></p>
                    <p><em>phone : +509 38 05 12 74</em></p>
                </div>
                
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
                <h4>LINKS</h4>
                <p><em><a href="https://github.com/ctombeau">Nos différents projets sur github</a></em></p>
                <p><em><a href="">facebook</a></em></p>
                <p><em><a href="">youtube</a></em></p>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <h4>NOTICES</h4>
                <p><em>Copyright @2024 - Projet personnel </em></p>
            </div>
        </div>
    </div>
</div>
