<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koutye</title>
</head>
<body>
    <div class="container">
        <div class="user-detail">
            <div class="detail-head">

            </div>
            <div class="detail-body">
                <mat-card>
                    <mat-card-content>
                        <div class="img" id="image-user" (click)="input.click()"  >
                            <img [src]="imageUrl" id="photo">
                            <i class="bi bi-camera-fill" id="camera"></i>
                        </div>
                        <input type="file" name="file" hidden #input ngModel (change)="getPicture($event)"/>
                        <div class="info">
                            <h2 class="space-after">{{prenom}} {{nom | uppercase}}</h2>
                            <h3 class="space-after"><strong><i class="bi bi-envelope-at"></i></strong> {{email}}</h3>
                            <h4 class="space-after"><strong><i class="bi bi-person"></i></strong> {{username}}</h4>
                            <p class="space-after"><strong><i class="bi bi-telephone"></i></strong> {{phone}}</p>
                        </div>
                        <div id="button" (click)="showHtmlUpdate()">
                            <button class="btn">{{update}} <i style="color: white" class="bi bi-pen"></i></button>
                        </div>
                    </mat-card-content>
                </mat-card>
                
            </div>
        </div>
    </div>
    
</body>
</html>
