.user-detail
{
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.detail-head{
    background-color: #06509F;
    height: 150px;
}

.detail-body{
     text-align: center;
     width: 90%;
     position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}

.detail-body mat-card
{
    margin-top: -10%;
}
/*
.img{
    height: 100px;
    width: 100px;
    border: 1px solid #06509F;
    border-radius: 50%;
    margin-top: -60px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}

.img img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
*/
.info
{
    margin-top: -30px;
}

.info h2
{
    font-weight: bold;
}

.space-after
{
    margin-bottom: -2px;
}

#image-user{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    //left: 50%;
    transform: translate(-10%, -60%);
}

#photo{
    width: 100px;
    height: 100px;
    border: 1px solid #06509F;
    border-radius: 50%;
}
#camera{
  position: absolute;
  top: 20px; 
  right: -20px; 
  font-size: 30px;
  color: #FF5733 ; 
  padding: 10px;
  cursor: pointer;
}

#button{
    background-color: #FF5733;
    margin-top: 10px;
    
}

#button button{
    color: white ;
    border-radius: 50% solid white;
}

.photo-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  background: white;
  box-shadow: 0 2px 6px #06509F;
  border-radius: 6px;
  padding: 0.5em;
  z-index: 10;
  width: 200px;
  margin-left: 55%;
}

.photo-menu button{
    border: none;
    margin: 2px;
}
