/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family:"Caveat";
  src:url("./assets/fonts/Caveat/static/Caveat-Regular.ttf") format("truetype");      
  font-weight:normal;
  font-style:normal;
  font-size: medium;
}
html, body { height: 100%; }
//body { margin: 0; font-family: Caveat,Roboto, "Helvetica Neue", sans-serif; }
.blue-snackbar {
    background: #FF5733;
    color: white;
   
  }
  

.spinner {
    position: absolute;
    z-index: 1;
}

.spinner-container {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; 
  }

  .spinner-image {
    position: absolute;
    width: 55px;  
    height: 55px; 
    z-index: 2;   
  }